@{
    ViewData["Title"] = "Home Page";
}


<link href="~/css/homeindex.css" rel="stylesheet" />


<div class="jumbotron center" style="text-align: center;">
    @* <div class="heading">Operation Wise Status <span>@DateTime.Now.ToString("dd/MM/yyyy hh:mm")</span></div> *@

    <div class="menu-icon" onclick="toggleControls()">☰</div>
    <div class="dashboard" id="groupContainers" onclick="toggleControls1()" style="overflow:auto;">
        <!-- Date Selector -->
        <!-- The containers will be loaded dynamically here -->
    </div>
    <div class="controls-container">
        <div class="controls">
            <div class="date-selector" style="display:none;">
                <label class="labell" for="FromDate">From Date:</label>
                <input class="inputt" type="date" id="Fdate" name="fromdate">
                <label class="labell" for="ToDate">To Date:</label>
                <input class="inputt" type="date" id="Tdate" name="todate">
                <label for="GroupNames">Group Names:</label>
                <select id="groupDropdown" style="width:96%;" class="form-select"></select>
            </div>
            <div class="side-buttons">
                <button id="viewGraphBtn" style="display:none;">View Graph</button>
                <button id="viewDataBtn" style="display:none;" onclick="viewDataBtn_Clicked()">VIEW DATA</button>
                <button id="btnOverAll" onclick="btn_OverAll()" style="width:250px">OVER ALL</button>
            </div>
            <div class="side-buttons">
                <button id="btnTopCon" onclick="btn_TopCons()" style="width:250px">TOP CONSUMPTIONS</button>
            </div>
        </div>
    </div>

    <div id="groupContainers" class="custom-container container" style="padding:0px !important;"></div>
</div>

@section Scripts {
    @* <script src="~/lib/jquery/jquery.min.js"></script> *@
    @* <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script> *@
    @* <script src="~/lib/echarts/echarts.min.js"></script> *@
    <script>
        var preloader = document.getElementById('preloader');
        // var head = document.getElementById('div-heading');
        $(document).ready(function () {
            preloader.style.display = 'inline-flex';
            // head.style.display = 'none';
            LoadGroupData();
            //LoadGroupNames();
            setTimeout(function () {
                preloader.style.display = 'none';
            }, 2000);
        });

        function LoadGroupData() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetGroupsWithMeters", "Home")',
                contentType: "application/json; charset=utf-8",
                success: function (groups) {
                    console.log(groups);
                    var container = $("#groupContainers");
                    container.empty();
                    debugger;
                    if (Array.isArray(groups)) {
                        var row;
                        groups.forEach((group, index) => {
                            if (index % 3 === 0) {
                                row = $('<div class="row"></div>');
                                container.append(row);
                            }

                            //var colors = ["#4b62bd", "#468585", "#4b62bd", "#468585", "#4b62bd", "#468585"];
                            var colors = ["#26648E", "#028174", "#26648E", "#028174", "#26648E", "#028174"];
                            var color = colors[index % colors.length];
                            var groupHtml = "";
                            var groupName = `${group.groupName}`;
                            if (groupName === "TRANSFORMER WISE") {
                                groupHtml = `
                                                                                                <div class="col-md-4 col-sm-6 col-12 p-1">
                                                                                                                                <div class="card custom-bg" style="background-color: ${color};" ondblclick="tws_clicked('${group.groupId}', '${group.groupName}')" >
                                                                                                                                    <div class="card-body" id="Group_${group.groupId}" style="height:305px;box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.25), -12px -12px 32px rgb(0 0 0 / 0%), 12px -12px 32px rgb(0 0 0 / 0%), -12px 12px 32px rgba(0, 0, 0, 0.25);">
                                                                                                                                        <div style="display: flex;justify-content: center;" ondblclick="tws_clicked()')">
                                                                                                                                <h3 style="color:#FFD700;text-shadow: 3px 3px 2px #000000, 11px 10px 4px rgb(15 142 41 / 9%);
                                                                                                                                    } font-size: 2.5em;">${group.groupName}</h3>
                                                                                                                                </div>
                                                                                                                                <div class="consume-labels" style="visibility:hidden;"  >
                                                                                                                                    <label style="font-size:1.5em;">YESTERDAY: <span id="yesterday_${group.groupId}"></span></label>
                                                                                                                                    <label style="font-size:1.5em;">TODAY: <span id="today_${group.groupId}"></span></label>
                                                                                                                                </div>
                                                                                                                                <div >
                                                                                                                                <select id="ddlTranswise" style="align-content: center;font-size:1.5em;" class="form-select" onchange="OnTSWSelectChanged()">
                                                                                                                                <option >-SELECT-</option>
                                                                                                                                <option value="PCC-1">PCC-1</option>
                                                                                                                                <option value="PCC-2">PCC-2</option>
                                                                                                                                <option value="PCC-3">PCC-3</option>
                                                                                                                                <option value="EMG Panel">EMG Panel</option>
                                                                                                                                </select>
                                                                                                                                </div>
                                                                                                                                <div style="padding:3px;">
                                                                                                                                    <div class="consume-labels" >
                                                                                                                                        <label style="font-size:1.5em;">YESTERDAY: <span id="tsyesterday_${group.groupId}"></span></label>
                                                                                                                                        <label style="font-size:1.5em;" >TODAY: <span id="tstoday_${group.groupId}"></span></label>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                                <div style="display:none">
                                                                                                                                <h1 class="meterheading">Meters</h1>
                                                                                                                                </div>
                                                                                                                                <div style="display:none" class="scrollable-grid" id="meterGrid_${group.groupId}"></div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                `;
                            }
                            else {
                                if (groupName != "NA") {
                                    groupHtml = `
                                <div class="col-md-4 col-sm-6 col-12 p-1">
                                    <div class="card custom-bg"
                                         style="background-color: ${color};
                                         box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.25), -12px -12px 32px rgb(0 0 0 / 0%),
                                         12px -12px 32px rgb(0 0 0 / 0%), -12px 12px 32px rgba(0, 0, 0, 0.25);"
                                         ondblclick="navigateToNextPage('${group.groupId}', '${group.groupName}')">
                                        <div class="card-body" id="Group_${group.groupId}" style="height:305px;">
                                            <div style="display: flex; justify-content: center;">
                                                <h3 style="color:#FFD700;font-size: 2.5em;
                                                            text-shadow: 3px 3px 2px #000000, 11px 10px 4px rgb(15 142 41 / 9%);">
                                                    ${group.groupName}
                                                </h3>
                                            </div>

                                            <!-- Swiper Container -->
                                            <div class="swiper-container">

                                                <!-- Overall Card Container -->
                                                <div class="swiper-card-container">
                                                    <div class="swiper-card overall-card"
                                                         style="display:block; box-shadow: inset 0 5px 5px #333,
                                                         inset 0 -5px 5px #333, inset 5px 0 5px #333, inset -5px 0 5px #333;">
                                                        <h3 style="color:#DEF9C4;font-size: 2em;">OVERALL</h3>

                                                        <label>
                                                            <span class="today-label" style="font-size: 1.0em; margin-left:-100px;">TODAY: </span><br/>
                                                            <span class="group-id" id="today_${group.groupId}" style="font-size: 2.0em;">00</span>
                                                        </label><br/>

                                                        <label>
                                                            <span class="yesterday-label" style="font-size: 1.0em; margin-left:-100px;">YESTERDAY: </span><br/>
                                                            <span class="group-id" id="yesterday_${group.groupId}" style="font-size: 2.0em;">00</span>
                                                        </label>
                                                    </div>
                                                </div>

                                                <!-- Variable Card Container -->
                                                <div class="swiper-card-container">
                                                    <div class="swiper-card variable-card"
                                                         style="display:none; box-shadow: inset 0 5px 5px #333,
                                                         inset 0 -5px 5px #333, inset 5px 0 5px #333, inset -5px 0 5px #333;">
                                                        <h3 style="color:#DEF9C4;font-size: 2em;">VARIABLE</h3>

                                                        <label>
                                                            <span class="today-label" style="font-size: 1.0em; margin-left:-100px;">TODAY: </span><br/>
                                                            <span class="group-id" id="var_today_con${group.groupId}" style="font-size: 2.0em; color: #FFFFFF;">00</span>
                                                        </label><br/>

                                                        <label>
                                                            <span class="yesterday-label" style="font-size: 1.0em; margin-left:-100px;">YESTERDAY: </span><br/>
                                                            <span class="group-id" id="var_yesday_con${group.groupId}" style="font-size: 2.0em; color: #FFFFFF;">00</span>
                                                        </label>
                                                    </div>
                                                </div>

                                                <!-- Fixed Card Container -->
                                                <div class="swiper-card-container">
                                                    <div class="swiper-card fixed-card"
                                                         style="display:none; box-shadow: inset 0 5px 5px #333,
                                                         inset 0 -5px 5px #333, inset 5px 0 5px #333, inset -5px 0 5px #333;">
                                                        <h3 style="color:#DEF9C4;font-size: 2em;">FIXED</h3>

                                                        <label>
                                                            <span class="today-label" style="font-size: 1.0em; margin-left:-100px;">TODAY: </span><br/>
                                                            <span class="group-id" id="fix_today_con${group.groupId}" style="font-size: 2.0em; color: #FFFFFF;">00</span>
                                                        </label><br/>

                                                        <label>
                                                            <span class="yesterday-label" style="font-size: 1.0em; margin-left:-100px;">YESTERDAY: </span><br/>
                                                            <span class="group-id" id="fix_yesday_con${group.groupId}" style="font-size: 2.0em; color: #FFFFFF;">00</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                `;

                                    // Initialize card swiper after the card is rendered
                                    setTimeout(function () {
                                        initializeCardSwiper(group.groupId);
                                    }, 0);
                                }
                            }




                            row.append(groupHtml);
                            LoadMeterData(group.groupId);
                        });
                    } else {
                        console.error("Expected an array but received: ", groups);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        $("#viewGraphBtn").click(function () {
            debugger
            var fDate = document.getElementById('Fdate').value;
            var tDate = document.getElementById('Tdate').value;


            var selectedOption = $("#groupDropdown").find(":selected");


            if (selectedOption.length > 0) {
                var groupId = selectedOption.val();
                var groupName = selectedOption.text();

                // Split the groupId if it contains the separator "-"
                var parts = groupId.split("-");
                if (parts.length === 2) {
                    groupId = parts[1]; // Extract the actual groupId
                }

                // Check if all required fields are not empty
                if (fDate !== "" && tDate !== "" && groupId !== "") {
                    window.location.href = `@Url.Action("OverAllGraphIndex", "Graph")?strFD=${fDate}&strTD=${tDate}&groupName=${groupName}`;
                } else {
                    alert('Please Check Date Selection and Group Name.');
                }
            } else {
                alert('Please select a Group Name.');
            }
        });

        function tws_clicked() {
            alert('Your Clicked Group TransformerWise. Please Click Other Groups.');
        }

        function toggleSections(groupId) {
            const selectedOption = document.getElementById(`ddl_${groupId}`).value;

            // Hide both sections initially
            document.getElementById(`variable_section_${groupId}`).style.display = 'none';
            document.getElementById(`fixed_section_${groupId}`).style.display = 'none';

            // Set the default YESTERDAY and TODAY values
            document.getElementById(`yesterday_${groupId}`).textContent = '00';
            document.getElementById(`today_${groupId}`).textContent = '00';

            // Show the relevant section and fetch the values for YESTERDAY and TODAY based on dropdown selection
            if (selectedOption === 'VARIABLE') {
                document.getElementById(`variable_section_${groupId}`).style.display = 'block';
                document.getElementById(`yesterday_${groupId}`).textContent = document.getElementById(`var_yesday_con${groupId}`).textContent;
                document.getElementById(`today_${groupId}`).textContent = document.getElementById(`var_today_con${groupId}`).textContent;
            } else if (selectedOption === 'FIXED') {
                document.getElementById(`fixed_section_${groupId}`).style.display = 'block';
                document.getElementById(`yesterday_${groupId}`).textContent = document.getElementById(`fix_yesday_con${groupId}`).textContent;
                document.getElementById(`today_${groupId}`).textContent = document.getElementById(`fix_today_con${groupId}`).textContent;
            }
        }
        function initializeCardSwiper(groupId) {
            const overallCard = document.querySelector(`#Group_${groupId} .overall-card`);
            const variableCard = document.querySelector(`#Group_${groupId} .variable-card`);
            const fixedCard = document.querySelector(`#Group_${groupId} .fixed-card`);

            // Array to hold the cards
            const cards = [overallCard, variableCard, fixedCard];
            let currentIndex = 0;

            // Ensure Overall is visible initially
            overallCard.style.display = 'block';

            // Swiper logic: Rotate between cards every 10 seconds
            setInterval(() => {
                // Hide all cards
                cards.forEach(card => card.style.display = 'none');

                // Show the next card in the list
                cards[currentIndex].style.display = 'block';

                // Move to the next card, and loop back to the first after the last
                currentIndex = (currentIndex + 1) % cards.length;
            }, 5000); // Change card every 10 seconds
        }






        function viewDataBtn_Clicked() {
            var fDate = document.getElementById('Fdate').value;
            var tDate = document.getElementById('Tdate').value;

            var selectedOption = $("#groupDropdown").find(":selected");

            if (selectedOption.length > 0) {
                var groupId = selectedOption.val();
                var groupName = selectedOption.text();

                // Split the groupId if it contains the separator "-"
                var parts = groupId.split("-");
                if (parts.length === 2) {
                    groupId = parts[1]; // Extract the actual groupId
                }

                // Check if all required fields are not empty
                if (fDate !== "" && tDate !== "" && groupId !== "") {
                    window.location.href = `@Url.Action("GroupTableSwap", "Graph")?id=${groupId}&fd=${fDate}&td=${tDate}`;
                } else {
                    alert('Please Check Date Selection and Group Name.');
                }
            } else {
                alert('Please select a Group Name.');
            }
        }

        function OnTSWSelectChanged() {
            var groupId = "GTW";
            var data = document.getElementById("ddlTranswise");
            var selectedOption = data.options[data.selectedIndex];
            var value = selectedOption.value;

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetTsWData", "Home")',
                data: { strTransformer: value },
                success: function (response) {
                    if (response) {
                        document.getElementById(`tsyesterday_${groupId}`).innerHTML = response.yesdayCon;
                        document.getElementById(`tsyesterday_${groupId}`).style.color = '#fff';

                        document.getElementById(`tstoday_${groupId}`).innerHTML = response.todayCon;
                        document.getElementById(`tstoday_${groupId}`).style.color = '#fff';
                    }
                },
                error: function (err) {
                    console.log(err);
                    alert(err);
                }
            });
        }

        // function LoadGroupNames() {
        //     $.ajax({
        //         type: 'POST',
        //         url: '@Url.Action("GetEnergyData", "Home")',
        //         data: { groupId: 0 },
        //         success: function (resultData) {
        //             var dropdown = $("#groupDropdown");
        //             dropdown.empty();

        //             var defaultOption = new Option("Select Group Name", "default");
        //             defaultOption.selected = true;
        //             dropdown.append(defaultOption);

        //             if (resultData.GroupNames && Array.isArray(resultData.GroupNames)) {
        //                 resultData.GroupNames.forEach(groupName => {
        //                     var option = new Option(groupName, groupName);
        //                     dropdown.append(option);
        //                 });
        //             }
        //         },
        //         error: function (err) {
        //             console.log(err);
        //         }
        //     });
        // }

        function LoadMeterData(groupId) {
            $.ajax({
                url: '@Url.Action("GetEnergyData_ReWork", "Home")',
                type: 'POST',
                data: { groupId: groupId },
                success: function (resultData) {

                    if (groupId === "GTW") {
                        //var meterGrid = document.getElementById(`meterGrid_${groupId}`);
                        //meterGrid.innerHTML = '';

                        document.getElementById(`tsyesterday_${groupId}`).innerHTML = '00';
                        document.getElementById(`tstoday_${groupId}`).innerHTML = '00';

                        document.getElementById(`yesterday_${groupId}`).innerText = resultData.yeasterdayConsume;
                        document.getElementById(`yesterday_${groupId}`).style.color = '#fff';

                        document.getElementById(`today_${groupId}`).innerText = resultData.todayConsume;
                        document.getElementById(`today_${groupId}`).style.color = '#fff';
                    }
                    else {

                        document.getElementById(`yesterday_${groupId}`).innerText = resultData.yeasterdayConsume;
                        document.getElementById(`yesterday_${groupId}`).style.color = '#fff';

                        document.getElementById(`today_${groupId}`).innerText = resultData.todayConsume;
                        document.getElementById(`today_${groupId}`).style.color = '#fff';

                        document.getElementById(`var_today_con${groupId}`).innerText = resultData.variable_TodayCon;
                        document.getElementById(`var_today_con${groupId}`).style.color = '#fff';

                        document.getElementById(`var_yesday_con${groupId}`).innerText = resultData.variable_YesterdayCon;
                        document.getElementById(`var_yesday_con${groupId}`).style.color = '#fff';

                        document.getElementById(`fix_today_con${groupId}`).innerText = resultData.fixed_TodayCon;
                        document.getElementById(`fix_today_con${groupId}`).style.color = '#fff';

                        document.getElementById(`fix_yesday_con${groupId}`).innerText = resultData.fixed_YesterdayCon;
                        document.getElementById(`fix_yesday_con${groupId}`).style.color = '#fff';
                    }


                    //if (resultData.MeterNames && Array.isArray(resultData.MeterNames)) {
                    //    resultData.MeterNames.forEach(meter => {
                    //        var meterItem = document.createElement('div');
                    //        meterItem.className = 'grid-item';
                    //        meterItem.innerText = meter;
                    //        meterGrid.appendChild(meterItem);
                    //    });
                    //}
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function btn_OverAll() {
            window.location.href = `@Url.Action("OverAllIndex", "Home")`;
        }

        function btn_TopCons() {
            window.location.href = `@Url.Action("Index", "Total")`;
        }

        function navigateToNextPage(groupId, groupName) {
            debugger;
            var yesdays = document.getElementById(`yesterday_${groupId}`).innerText;
            var todays = document.getElementById(`today_${groupId}`).innerText;
            var vals = `${groupId},${yesdays},${todays}`;
            window.location.href = `@Url.Action("ShopWiseIndex", "Home")?groupId=${vals}&groupName=${groupName}`;
        }

        function tws_clicked(groupId, groupName) {
            debugger;
            var yesdays = document.getElementById(`tsyesterday_${groupId}`).innerText;
            var todays = document.getElementById(`tstoday_${groupId}`).innerText;
            var vals = `${groupId},${yesdays},${todays}`;
            window.location.href = `@Url.Action("TransFormer", "Home")?groupId=${vals}&groupName=${groupName}`;
        }

        //  For Toggle Menu Icons Hide Only
        function toggleControls1() {
            const controls = document.querySelector('.controls');
            controls.style.display = "none";
        }

        //  For Toggle Menu Icons Both Open and Hide
        function toggleControls() {
            const controls = document.querySelector('.controls');
            if (controls.style.display === "none" || controls.style.display === "") {
                controls.style.display = "flex";
            } else {
                controls.style.display = "none";
            }
        }

        $('#divFScreen').click(function () {
            let elem = document.querySelector('#divHome');

            if (!document.fullscreenElement) {
                elem.requestFullscreen().catch(err => {
                    alert(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`);
                });
                // Change background color to white and fit the div to full screen
                elem.style.backgroundColor = "white";
                elem.style.width = "100vw";
                elem.style.height = "100vh";
                // head.style.display = '';
                $('#divFSceeen').style.display = 'none';
                $('#divESceeen').style.display = '';
            } else {
                document.exitFullscreen();
                // Reset the styles if exiting fullscreen
                elem.style.backgroundColor = "";
                elem.style.width = "";
                elem.style.height = "";
                // head.style.display = 'none';
                $('#divFSceeen').style.display = '';
                $('#divESceeen').style.display = 'none';
            }
        });

        $('#divEScreen').click(function () {
            let elem = document.querySelector('#divHome');

            if (!document.fullscreenElement) {
                elem.requestFullscreen().catch(err => {
                    alert(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`);
                });
                // Change background color to white and fit the div to full screen
                elem.style.backgroundColor = "white";
                elem.style.width = "100vw";
                elem.style.height = "100vh";
                // head.style.display = '';
                $('#divFSceeen').style.display = 'none';
                $('#divESceeen').style.display = '';
            } else {
                document.exitFullscreen();
                // Reset the styles if exiting fullscreen
                elem.style.backgroundColor = "";
                elem.style.width = "";
                elem.style.height = "";
                // head.style.display = 'none';
                $('#divFSceeen').style.display = '';
                $('#divESceeen').style.display = 'none';
            }
        });

        // document.addEventListener('DOMContentLoaded', (event) => {
        //     const heading = document.querySelector('.heading');
        //     heading.style.display = 'block';

        //     function updateTime() {
        //         const now = new Date();
        //         const formattedTime = now.toLocaleString('en-GB', {
        //             day: '2-digit',
        //             month: '2-digit',
        //             year: 'numeric',
        //             hour: '2-digit',
        //             minute: '2-digit',
        //             second: '2-digit'
        //         });
        //         document.getElementById('time').textContent = formattedTime;
        //     }

        //     updateTime(); Initial call to set the time immediately
        //     setInterval(updateTime, 1000); Update time every second
        // });

    </script>
}